### Theory Question:

1.  What are data structures, and why are they important?

  A1. Data structure are the basics in computer science and it is a specific/specalized format which is used to oragnized, stores and access the data efficently.

  It is important because human and machine both understand the information and easily to perform their task on data.

  example of data structure:   List , Dictionary , Set, etc

2. Explain the difference between mutable and immutable data types with examples.

A2. In mutable data type, changes and rearrange of element in the mutable data structure are allowed but in immutable data structure the changes and rearrangement of element is not allowed and it give error if do that.

Mutable data structure are list,dictionary,set.

Immutable data structure are tuple.

3.  What are the main differences between lists and tuples in Python?

A3. List is the data structure which is orederd collection of element and it is mutable data structure.

In List, use square bracket - [ ]

Syntax of list - List_name = [list_elements]

Example of list : list1 = [1,2,"ajay","sumit",3+5j]

-> Tuple is the data structure which is ordered collection of element and it is immutable data structure.

In tuple, use small parenthesis - ( )

Syntax of tuple - tuple_name = (tuple_element)

Example of list : tuple1 = (1,2,3,"sumit","ajay",6+5j)

4.  Describe how dictionaries store data?

A4. Dictionary store the data in key-value pair.

-> In dictionary, each key is unique.

-> Dictionary data structure retain the last value which is updated in the dictionary to the specific key.

-> Example : dict1 = {1:"ajay",2:"pwskills"}

5. Why might you use a set instead of a list in Python?

 A5. We use set instead of list because set is a data structure which hold only the unique element and discard the duplicate element.

 Example :
  list1 =  [1,2,2,1,3,4,3,5,9,7,3]

 print(set(list1))

 # output - {1,2,3,4,5,7,9}

 here set data structure discard the duplicate values and hold only unique element.

6.What is a string in Python, and how is it different from a list?

A6. String is a data structure which collectively hold the multiple character.
Using "" inverted commas to initailize the string and string is immutable data structure.

-> Example of string : str = "pwskills"

-> It is diferent from list because list is oredered collection of element and it is mutable and it hold heterogenous element.

-> Example of list : list1 = [1,2,"pwskill",5+5j]

7.How do tuples ensure data integrity in Python?

A7.Tuple ensure data integrity in python because tuple is ordered collection of element and it is immutable data structure,it means rearrange of element and changes or update in the tuple is not allowed.

if do changes in tuple in return it give error.

Example of tuple:
tuple1 = (1,2,4,5,"pwskills","ajay")

tuple1[2] = "sumit"

 #output - it give error and say "tuple is immutable"

9.Can lists contain different data types in Python?

A9. yes, list can have different element and which is of different data type.
Example of list:

   list1 =[1,2.2,"sumit",5+4j]

10.Explain why strings are immutable in Python?

A10. In python, string are immutable because once string is created and it can't be change or modify because efficient memory management and hasability.

11.Q11. What advantages do dictionaries offer over lists for certain tasks?

A11. dictionaries offer many advantages over lists for certain tasks:

a) In dictionary, it uses key value pair which make it easier to access the element of dictionaries easily.

b) In dictionary, key are uniques in dictionaries.

12. Q12. Describe a scenario where using a tuple would be preferable over a list.

 A12. Tuple is preferable over a list because it is immutable.

 -> In which case where once it created the data stucture cannot be change or modify.

 -> In otherwords it is a restriction on a data structure to modify .

13. Q13. How do sets handle duplicate values in Python?

A13. set are the data structure which hold only the unique element and set discarded the duplicate element.

Example :
set1 = {1,1,2,3,"ajay","sumit","ajay",2,3}
print(set1)

# output: {1,2,3,"ajay","sumit"}

14. How does the “in” keyword work differently for lists and dictionaries?

A14. "in" keyword is used for list as it is used to check the element is exist or not.

i.)if the element is exist in list and it return True

 ii).if the element is not exist in list  and it return False.



 -> "in" keyword is used for dictionaries as it is used to check the specific key is present or not.

  i.)if the key  is exist in dictionaries and it return True and it can't check the value.

  ii.)if the key is not exist in dictionaries and it return False and it can't check the value.

15. Q15. Can you modify the elements of a tuple? Explain why or why not?

A15. The element of tuple can't be modify because it is immutable data structure and doesn;t allow to modify the element or value in the tuple.


Example:
tuple1 = (1,2,3,"sumit","pwskill")

tuple1[0] = "rahul"

output: tuple  object does not support item assignment

16. What is a nested dictionary, and give an example of its use case?

A16. Nested dictionary is a dictionary inside another dictionary.

->  example : use in office to empolyees data:

empolyees =   

              {"employe_1":{"Name": "Rahul","Age": 25,"Contact": "9445451510"},

             "employe_2":{"Name": "Prajwal","Age": 26,"Contact": "9445451524"},

             "empolye_3":{"Name": "Prashant","Age": 24,"Contact": "9445351510"}
             }

17. Q17. Describe the time complexity of accessing elements in a dictionary?

A17. The time complexity of accessing element in a dictioanry is o(1).

18. Q18.  In what situations are lists preferred over dictionaries?

A18. Situation are lists are preferred over dictionaries are:

a). Index retrival is needed.

b). when value is needed not the key.

c). Iteration based on index

d). When position or ordered of element is matter.

19. Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

A19. Dictionaries are considered unordered because  the values is accessed in dictionaries by their key not based on their index.

-> Using keys to access the value of dictionaries is very fast because keys works as a indicies to get the values.

20.Explain the difference between a list and a dictionary in terms of data retrieval.

A20.  The differce between a list and a dictionary in term of data retrieval are:

1). data retrieval in list using the indicies but in dictionaries data retrived using the key not the indicies.

Example:    

             list1 =[1,2,3,4,5,6]
             list1[5] >> it is possible
             # output : 6

             dict1 = {"Name": "sumit","Age": 25,"Contact": "954512315"}
             dict1["Name"] >> it is possible
            # output: "Sumit"

## Practical Question:

In [1]:
# 1. Write a code to create a string with your name and print it.
Name = "sumit sahu"
print(Name)

sumit sahu

In [2]:
# 2. Write a code to find the length of the string "Hello World.
len("Hello World")

11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming.
str = "Python Programming"
print(str[0:3]) # it return the first three character from string

Pyt

In [4]:
#4. Write a code to convert the string "hello" to uppercase.
var =  "hello"
var.upper()

'HELLO'

In [34]:
# 5.Write a code to replace the word "apple" with "orange" in the string "I like apple":
str_1 =  "I like apple"
str_1.replace("apple","orange")

'I like orange'

In [35]:
#6. Write a code to create a list with numbers 1 to 5 and print it:

list_1 = [1,2,3,4,5]
print(list_1)

[1, 2, 3, 4, 5]

In [6]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]:
list1 = [1,2,3,4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [7]:
# 8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]:
list1 =  [1, 2, 3, 4, 5]
list1.remove(3)
print(list1)

[1, 2, 4, 5]

In [10]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']:
list1 = ['a', 'b', 'c', 'd']
list1[1]

'b'

In [11]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50]:
list1 = [10, 20, 30, 40, 50]
print(list1[::-1])

[50, 40, 30, 20, 10]

In [12]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it:
tuple1 = (100, 200, 300)
print(tuple1)

(100, 200, 300)

In [13]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow'):
tuple1 = ('red', 'green', 'blue', 'yellow')
print(tuple1[1:])

('green', 'blue', 'yellow')

In [14]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15):
tuple1 = (10, 20, 5, 15)
num = min(tuple1)
print(num)

5

In [15]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple1 =  ('dog', 'cat', 'rabbit')
tuple1.index("cat")

1

In [16]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it:
tuple1 = ("watermelon","kiwi","mango")
"kiwi" in tuple1

True

In [37]:
#16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1 = {"a","b","c"}
print(set1)

{'c', 'a', 'b'}

In [17]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}:
set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

In [18]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
set1 = {1, 2, 3, 4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [19]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1|set2)

{1, 2, 3, 4, 5}

In [20]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1&set2)

{2, 3}

In [21]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it:
dict1 ={"name":"sumit", "age": "30", "city": "noida"}
print(dict1)

{'name': 'sumit', 'age': '30', 'city': 'noida'}

In [22]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}:
dict1 = {'name': 'John', 'age': 25}
dict1["coutry"] = "USA"
print(dict1)

{'name': 'John', 'age': 25, 'coutry': 'USA'}

In [23]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}:
dict1 = {'name': 'Alice', 'age': 30}
dict1["name"]

'Alice'

In [24]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict1.pop("age")
print(dict1)

{'name': 'Bob', 'city': 'New York'}

In [25]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}:
dict1 =  {'name': 'Alice', 'city': 'Paris'}
"city" in dict1

True

In [26]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all:
list1 = [10,20,30,"sumit"]
tuple1 = (10,20,30,"ajay")
dict1 = {"name": "sumit","age": 25,"city": "greater noida"}
print(list1)
print(tuple1)
print(dict1)

[10, 20, 30, 'sumit']
(10, 20, 30, 'ajay')
{'name': 'sumit', 'age': 25, 'city': 'greater noida'}

In [28]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

list1 = [10,100,70,25,3]
print(sorted(list1))

[3, 10, 25, 70, 100]

In [29]:
#28.  Write a code to create a list with strings and print the element at the third index:
list1 = ["sumit","ajay","piyush","rahul","prajwal"]
print(list1[3])

rahul

In [30]:
# 29. Write a code to combine two dictionaries into one and print the result:
dict1 = {"name": "sumit","age":23,"city": "noida"}
dict2 = {"product": "tablet","ram": "4gb","warranty": "1 year"}
print(dict1.combine(dict2))

AttributeError: 'dict' object has no attribute 'combine'

In [31]:
#30.Write a code to convert a list of strings into a set:
list1 = ["sumit","rahul","prajwal"]
print(set(list1))

{'sumit', 'rahul', 'prajwal'}